
<!-- -->
<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 max-auto">
      <h1 class="text-center">Post</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <form (submit)="add_post()">
          <div class="form-group">
            <label class="col-md-4">Post title</label>
            <input type="text" name="title" [(ngModel)]="post_payload.title" class="form-control" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Post Description </label>
            <textarea class="form-control" name="description" [(ngModel)]="post_payload.description" rows = 7 cols = "5"></textarea>
          </div>
			<input type="hidden" name="id" [(ngModel)]="post_payload.id" class="form-control" />
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Post</button>
          </div>
        </form>
      </div>
    </div>
<table class="table table-hover">
  <thead>
  <tr>
      <td> Title</td>
      <td> Description</td>

       <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
    <!-- {{posts  | json}} -->
      <tr *ngFor="let post of posts">
            <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>

           <td><a (click)="get_post(post.id)" class="btn btn-primary">Edit</a></td>
          <td><a (click)="delete_post(post.id)" class="btn btn-danger">Delete</a></td>
      </tr>
  </tbody>
</table>
<hr>
<!-- <table class="table table-trapped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role_id }}</td>
    </tr>
  </tbody>

  </table>
 -->
  </div>

</div>
