.modal.show {
    display: block;
}
.add-usr {
    float: right;
    margin-bottom: 20px;
}
#drsuccess {
    float: right;
    margin-right: 110px;
    margin-top: 6px;
}
.edlt-btn {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
#drupdt-success{
    float: right;
        margin-right: 90px;
        margin-top: 5px;
}