<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg add-usr" (click)="shoModal=true" data-toggle="modal" data-target="#drmyModal">Add User</button>
<table id="tbl-data" class="table table-hover">
  <thead>
	  <tr>
	    <td>Id</td>
	    <td>Name</td>
	    <td>Email</td>
      <!-- <td>Role ID</td> -->
      <td>Edit</td>
      <td>Delete</td>
	  </tr>
  </thead>

  <tbody>
    <!-- {{posts  | json}} -->
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <!-- <td>{{ user.role_id }}</td> -->
      <td><a class="btn edlt-btn" (click)="get_user(user.id)" data-toggle="modal" data-target="#dreditModal">Edit</a></td>
      <td><a id="delete" (click)="delete_dr(user.id)" class="btn edlt-btn">Delete</a></td>
    </tr>
  </tbody>
</table>

<!-- Add-User-Modal -->
<div class="modal fade" id="drmyModal" [ngClass]="{'show':showModal}" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="card">
            <div class="card-body">
              <form id="myform" #myForm="ngForm" (submit)="add_user()">
                <div class="form-group">
                  <label class="col-md-4">Name</label>
                  <input type="text" name="name" [(ngModel)]="user_payload.name" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label class="col-md-4">Email</label>
                  <input type="email" name="email" [(ngModel)]="user_payload.email" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label class="col-md-4">Password</label>
                  <input type="password" name="password" [(ngModel)]="user_payload.password" class="form-control" required/>
                </div>
                <div class="form-group">
                  <!-- <label class="col-md-4">Role ID</label> -->
                  <input type="hidden" name="role_id" [(ngModel)]="user_payload.role_id" class="form-control" required/>
                </div>
                <div class="form-group">
                  <!-- <label class="col-md-4">Lab ID</label> -->
                  <input type="hidden" name="lab_id" [(ngModel)]="user_payload.lab_id" class="form-control" required/>
                </div>
                  <input type="hidden" name="id" [(ngModel)]="user_payload.id" class="form-control" />
                <div class="form-group">
                  <button type="submit" id="drmdl-save"class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
                  <h5 id="drsuccess" style="display: none;">User Created Successfully!</h5>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="return false" data-dismiss="modal">Close</button>
        </div>
      </div>   
    </div>
  </div>
</div>

<!-- Edit-User-Modal -->
<div class="modal fade" id="dreditModal" [ngClass]="{'show':showModal}" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="card">
            <div class="card-body">
              <form id="editform" #myForm="ngForm" (submit)="update_user()" >
                <div class="form-group">
                  <label class="col-md-4">Name</label>
                  <input type="text" value="{{ user.name }}"  name="name" [(ngModel)]="user_payload.name" class="form-control" required/>
                </div>
                  <input type="hidden" value="{{ user.id }}" name="id" [(ngModel)]="user_payload.id" class="form-control" />
                <div class="form-group">
                  <button type="submit"  id="dredit-save" class="btn btn-primary" [disabled]="!myForm.form.valid">Update</button>
                  <h5 id="drupdt-success" style="display: none;">User Updated Successfully!</h5>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="return false" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>