<nav *ngIf="!auth.isLoggedin()" class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
 
<div   class="collaspe navbar-collaspe justify-content-md-center" id="navbar1">

<ul class="navbar-nav">
<li class="nav-item">
  <a routerLink="/" class="nav-link">Home</a>
</li>
<li  class="nav-item">
  <a routerLink="/login" class="nav-link">Login</a>
</li>

<li   class="nav-item">
    <a routerLink="/register" class="nav-link">Register</a>
</li>

</ul>
</div>

</nav>
<router-outlet></router-outlet>
