<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">Full Name</label>
          <input class="form-control" type="text" name="name" value="" placeholder="Enter Full Name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control" type="email" name="email" value="" placeholder="Enter Email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" type="password" name="password" value="" placeholder="Enter Password" [(ngModel)]="credentials.password">
        </div>
		<div class="form-group">
          <label for="email">Lab Name</label>
          <input class="form-control" type="text" name="lab" value="" placeholder="Enter Lab Name" [(ngModel)]="credentials.labname">
        </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>

      </form>

    </div>

  </div>
</div>
