<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 max-auto">
      <h1 class="text-center">Profile</h1><div class="right"><a routerLink="/admin/profile/edit" class="nav-link">Edit Profile</a>
    </div>
		
    <table class="table col-md-8 mx-auto">
      <tr>
        <td>Name</td>
        <td>
          
              {{details?.user.name}}

        
        </td>

      </tr>
      <tr>
        <td>Email</td>
        <td>
         
          {{details?.user.email}}
        
        </td>

      </tr>
      </table>


  </div>

</div>
