<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="login()">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control" type="email" name="email" value="" placeholder="Enter Email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" type="email" name="email" value="" placeholder="Enter Password" [(ngModel)]="credentials.password">
        </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in </button>

      </form>

    </div>

  </div>
</div>
